# ========================
# macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride
._*

# ========================
# Xcode
# ========================
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
*.xcuserstate

## Build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# ========================
# Swift Package Manager
# ========================
.swiftpm/
.build/
Package.resolved

# ========================
# Generated / Temporary
# ========================
.reports/
.zcode/
temp/
*.log
